.slick-dots {
  bottom: -50px !important;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  width: 20px;
  height: 20px;
}

.slick-dots li button::before {
  color: white !important;
  font-size: 14px !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button::before {
  color: var(--color-yelloWW) !important;
  opacity: 1 !important;
}

.slick-dots li button:hover::before {
  color: var(--color-yelloWW) !important;
  opacity: 0.8 !important;
}

.slick-prev,
.slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-prev::before,
.slick-next::before {
  font-size: 35px !important;
  color: var(--color-yelloWW) !important;
  opacity: 0.7 !important;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  opacity: 1 !important;
}